[Desktop Entry]
Name=iDescriptor
Comment=Manage and interact with Apple mobile devices
Exec=idescriptor
Icon=io.github.idescriptor.iDescriptor
Type=Application
Categories=Utility;FileTools;
Keywords=iPhone;iPad;iOS;Apple;device;
